<html>
<body>
    <form action="/submit" method='post'>

        <label for="LOCALITY_LABLE">LOCALITY_LABLE</label><br>
        <input type="number" id="lname" name="lname" value=""><br>

         
        <label for="fname">TYPE</label><br>
        <input type="number" id="tname" name="tname" value=""><br>

        <label for="fname">LATITUDE</label><br>
        <input type="number" id="laname" name="laname" value=""><br>

        <label for="fname">LONGITUDE</label><br>
        <input type="number" id="loname" name="loname" value=""><br>

        <label for="fname">LEASE_TYPE</label><br>
        <input type="number" id="lename" name="lename" value=""><br>

        <label for="fname">GYM</label><br>
        <input type="number" id="gname" name="gname" value=""><br>

        <label for="fname">LIFT</label><br>
        <input type="number" id="liname" name="liname" value=""><br>

        <label for="fname">SWIMMING_POOL</label><br>
        <input type="number" id="sname" name="sname" value=""><br>

        <label for="fname">PARKING<label><br>
        <input type="number" id="pname" name="pname" value=""><br>

        <label for="fname">PROPERTY_SIZE</label><br>
        <input type="number" id="poname" name="poname" value=""><br>

        <label for="fname">BATHROOM</label><br>
        <input type="number" id="bname" name="bname" value=""><br>

        <label for="fname">FACING</label><br>
        <input type="number" id="fname" name="fname" value=""><br>

        <label for="fname">WATER_SUPPLY</label><br>
        <input type="number" id="wname" name="wname" value=""><br>

        <label for="fname">BALCONIES</label><br>
        <input type="number" id="baname" name="baname" value=""><br>

        <label for="fname">LIFT</label><br>
        <input type="number" id="liname" name="liname" value=""><br>

        <label for="fname">INTERNET</label><br>
        <input type="number" id="inname" name="inname" value=""><br>

        <label for="fname">AC</label><br>
        <input type="number" id="acname" name="acname" value=""><br>

        <label for="fname">INTERCOM</label><br>
        <input type="number" id="intername" name="intername" value=""><br>

        <label for="fname">POOL</label><br>
        <input type="number" id="poname" name="poname" value=""><br>

        <label for="fname">FS</label><br>
        <input type="number" id="fsname" name="fsname" value=""><br>

        <label for="fname">SECURITY</label><br>
        <input type="number" id="secname" name="secname" value=""><br>

        <label for="fname">SC</label><br>
        <input type="number" id="scname" name="scname" value=""><br>

        <label for="fname">PARK</label><br>
        <input type="number" id="parkname" name="parkname" value=""><br>

        <label for="fname">HK</label><br>
        <input type="number" id="hkname" name="hkname" value=""><br>

        <label for="fname">PB</label><br>
        <input type="number" id="pbname" name="pbname" value=""><br>

        <input type="submit" value="Submit">
      </form>
</body>

</html>
