<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/style.css">
  <title>Real Estate</title>
</head>

<body>
  <div class="container">
    <div class="navbar-container">
      <div class="navbar">
        <div class="navbar-logo">
          Real Estate
        </div>
        <div class="nav-btn">
          Get Started
        </div>
      </div>
    </div>
    <div class="info-container">
      <div class="info">
        <div class="title-light">
          Precise. Complete. Real.
        </div>
        <div class="title">
          Get the best price for your property.
        </div>
        <div class="sub-title">
          We got you covered!
        </div>
      </div>
    </div>
    <div class="form-container">
      <div class="form">
        <form action="/submit" method='post'>
          <div class="form-field">
            <label for="lname">Locality label</label>
            <input type="number" id="lname" name="lname" value=""></input>
          </div>
          <div class="form-field">
            <label for="tname">Type of locality</label>
            <input type="number" id="tname" name="tname" value=""></input>
          </div>
          <div class="form-field">
            <label for="laname">Latitude</label>
            <input type="number" id="laname" name="laname" value=""></input>
          </div>
          <div class="form-field">
            <label for="loname">Longitude</label>
            <input type="number" id="loname" name="loname" value=""></input>
          </div>
          <div class="form-field">
            <label for="lename">Type of Lease</label>
            <input type="number" id="lename" name="lename" value=""></input>
          </div>
          <div class="form-field">
            <label for="gname">Gym</label>
            <input type="number" id="gname" name="gname" value=""></input>
          </div>
          <div class="form-field">
            <label for="liname">Lift</label>
            <input type="number" id="liname" name="liname" value=""></input>
          </div>
          <div class="form-field">
            <label for="sname">Swimming pool</label>
            <input type="number" id="sname" name="sname" value=""></input>
          </div>
          <div class="form-field">
            <label for="pname">Parking</label>
            <input type="number" id="pname" name="pname" value=""></input>
          </div>
          <div class="form-field">
            <label for="prname">Property Size</label>
            <input type="number" id="prname" name="prname" value=""></input>
          </div>
          <div class="form-field">
            <label for="bname">Bathroom</label>
            <input type="number" id="bname" name="bname" value=""></input>
          </div>
          <div class="form-field">
            <label for="fname">Facing</label>
            <input type="number" id="fname" name="fname" value=""></input>
          </div>
          <div class="form-field">
            <label for="wname">Water Supply</label>
            <input type="number" id="wname" name="wname" value=""></input>
          </div>
          <div class="form-field">
            <label for="baname">Balconies</label>
            <input type="number" id="baname" name="baname" value=""></input>
          </div>
          <div class="form-field">
            <label for="liftname">Lift</label>
            <input type="number" id="liftname" name="liftname" value=""></input>
          </div>
          <div class="form-field">
            <label for="inname">Interner</label>
            <input type="number" id="inname" name="inname" value=""></input>
          </div>
          <div class="form-field">
            <label for="acname">AC</label>
            <input type="number" id="acname" name="acname" value=""></input>
          </div>
          <div class="form-field">
            <label for="intername">Intercom</label>
            <input type="number" id="intername" name="intername" value=""></input>
          </div>
          <div class="form-field">
            <label for="poname">Pool</label>
            <input type="number" id="poname" name="poname" value=""></input>
          </div>
          <div class="form-field">
            <label for="fsname">FS</label>
            <input type="number" id="fsname" name="fsname" value=""></input>
          </div>
          <div class="form-field">
            <label for="secname">Security</label>
            <input type="number" id="secname" name="secname" value=""></input>
          </div>
          <div class="form-field">
            <label for="scname">SC</label>
            <input type="number" id="scname" name="scname" value=""></input>
          </div>
          <div class="form-field">
            <label for="parkname">Park</label>
            <input type="number" id="parkname" name="parkname" value=""></input>
          </div>
          <div class="form-field">
            <label for="hkname">HK</label>
            <input type="number" id="hkname" name="hkname" value=""></input>
          </div>
          <div class="form-field">
            <label for="pbname">PB</label>
            <input type="number" id="pbname" name="pbname" value=""></input>
          </div>
          <div class="form-field-btn">
            <input type="submit" value="Submit"></input>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
